[project]
	description = Dashboard to administrate static sites
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Miguel Angel Gordián (zoek1)
[access "refs/for/refs/*"]
	read = group user/Miguel Angel Gordián (zoek1)
	push = group user/Miguel Angel Gordián (zoek1)
	label-Code-Review = -2..+2 group user/Miguel Angel Gordián (zoek1)
	label-Verified = -1..+1 group user/Miguel Angel Gordián (zoek1)
	rebase = group user/Miguel Angel Gordián (zoek1)
	removeReviewer = group user/Miguel Angel Gordián (zoek1)
	submit = group user/Miguel Angel Gordián (zoek1)
[access "refs/heads/*"]
	read = group user/Miguel Angel Gordián (zoek1)
	create = group user/Miguel Angel Gordián (zoek1)
	push = +force group user/Miguel Angel Gordián (zoek1)
	pushMerge = group user/Miguel Angel Gordián (zoek1)
[access "refs/tags/*"]
	push = group user/Miguel Angel Gordián (zoek1)
	push = +force group user/Miguel Angel Gordián (zoek1)
